<div id="table-div">
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Actions</th>
    </tr>
    </thead>
      <tr>
        <td><%= @user.id %></td>
        <td><%= @user.email %></td>
        <td><%= @user.created_at %></td>
        <td><%= @user.updated_at %></td>
        <td>

        </td>
      </tr>
  
  </table>
</div>