.form-div {
     text-align: center;	
}


div {
	padding : 2px;
}

label {
       
        width: 250px;
        text-align: left;
        padding-left: 2px;
    	
}




 #user_remember_me {
     left: 7px;
     padding: 2px;
     position: relative;
    
 }       